header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div img{
    display: block;
    height: 24px;
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
}

header nav ul li{
    flex:1;
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    color:#18191F;
}

header div button {
    padding: 5px 10px;
    border:0;
    cursor: pointer;
    border-radius: 6px;
}

header div button:first-of-type {
    background-color: #fff;
    color: #28CB8B;
    
}

header div button:last-of-type {
    background-color: #28CB8B;
    color:#fff;
}